[submodule "my-app/src/react-connections-game"]
	path = my-app/src/react-connections-game
	url = git@github.com:ragcaty/react-connections-game.git
[submodule "my-app/src/wordle"]
	path = my-app/src/wordle
	url = git@github.com:ragcaty/wordle.git
